html,
body {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@keyframes baseline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes stock-bars1 {
  from {
    height: 0;
    margin-top: 110px;
  }
  to {
    height: 50px;
    margin-top: 60px;
  }
}
@keyframes stock-bars2 {
  from {
    height: 0;
    margin-top: 110px;
  }
  to {
    height: 90px;
    margin-top: 20px;
  }
}
@keyframes stock-bars3 {
  from {
    height: 0;
    margin-top: 110px;
  }
  to {
    height: 70px;
    margin-top: 40px;
  }
}
@keyframes stock-bars4 {
  from {
    height: 0;
    margin-top: 110px;
  }
  to {
    height: 110px;
    margin-top: 0px;
  }
}
.logo-container {
  width: 350px;
  height: 250px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  padding: 10px;
  padding-top: 50px;
}

.logo {
  position: relative;
  width: 350px;
  height: 250px;
}

.baseline {
  border: 4px solid #990a4b;
  border-radius: 8px;
  box-sizing: border-box;
  animation: baseline 2s ease-in-out forwards;
}

.stock-bars {
  height: 110px;
}
.stock-bars::after {
  display: block;
  clear: both;
}
.stock-bars .bar {
  float: left;
  background: #990a4b;
  width: 8px;
  border-radius: 8px;
  margin-right: 20px;
  position: relative;
  margin-left: 20px;
  bottom: -2px;
}
.stock-bars .bar1 {
  animation: stock-bars1 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}
.stock-bars .bar2 {
  animation: stock-bars2 0.5s ease-in-out forwards;
  animation-delay: 0.7s;
}
.stock-bars .bar3 {
  animation: stock-bars3 0.5s ease-in-out forwards;
  animation-delay: 1.2s;
}
.stock-bars .bar4 {
  animation: stock-bars4 0.5s ease-in-out forwards;
  animation-delay: 1.7s;
}

.arrow-path {
  height: 80px;
  bottom: -30px;
  position: relative;
}

@keyframes firstAscend {
  0% {
    width: 0;
  }
  15% {
    width: 68px;
  }
  100% {
    width: 68px;
  }
}
@keyframes secondAscend {
  15% {
    width: 0;
  }
  30% {
    width: 60px;
  }
  100% {
    width: 60px;
  }
}
@keyframes thirdAscend {
  30% {
    width: 0;
  }
  50% {
    width: 85px;
  }
  100% {
    width: 85px;
  }
}
.ascend {
  background: #990a4b;
  height: 8px;
  border-radius: 8px;
  position: absolute;
  transform-origin: left;
}
.ascend.first {
  left: 21px;
  top: 78px;
  transform: rotate(-45deg);
  animation: firstAscend 3.5s linear infinite;
  animation-delay: 0.7s;
}
.ascend.second {
  left: 65px;
  top: 31px;
  transform: rotate(25deg);
  animation: secondAscend 3.5s linear infinite;
  animation-delay: 0.7s;
}
.ascend.third {
  left: 115px;
  top: 57px;
  transform: rotate(-42deg);
  animation: thirdAscend 3.5s linear infinite;
  animation-delay: 0.7s;
}

@keyframes arrowHead {
  34% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    transform: translate(15px, -15px) rotate(45deg);
  }
  51% {
    opacity: 1;
    transform: translate(50px, -47px) rotate(45deg) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translate(50px, -47px) rotate(45deg) scale(1.5);
  }
}
.arrow-head {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #990a4b;
  position: absolute;
  left: 115px;
  top: 48px;
  transform: rotate(45deg);
  animation: arrowHead 3.5s linear infinite;
  animation-delay: 0.7s;
  opacity: 0;
}

@keyframes bull {
  from {
    background-position-x: -150px;
  }
  to {
    background-position-x: 180px;
  }
}
.bull-wrapper {
  overflow: hidden;
  height: 150px;
  width: 167px;
  background-image: url(./bull-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 170px;
  top: 38px;
  background-size: 145px auto;
  background-position: -150px 13px;
  animation: bull 3.5s ease-in-out infinite;
  animation-delay: 2.4s;
}

/*# sourceMappingURL=style.css.map */
