@use "sass:math";

html,
body {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

$logo-color: #990a4b;
$logo-container-width: 350px;
$logo-container-height: 250px;
$logo-container-padding: 10px;
$logo-container-padding-top: 50px;
$stock-bar-contaier-height: 110px;
$line-thickness: 8px;

@mixin traingle-up(
  $base: 10px,
  $border-left: 10px,
  $border-right: 10px,
  $triangle-color: $logo-color
) {
  width: 0;
  height: 0;
  border-left: $border-left solid transparent;
  border-right: $border-right solid transparent;
  border-bottom: $base solid $triangle-color;
}

@mixin getStockHeight($height) {
  height: $height;
  margin-top: $stock-bar-contaier-height - $height;
}

@keyframes baseline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes stock-bars1 {
  from {
    @include getStockHeight(0);
  }
  to {
    @include getStockHeight(50px);
  }
}

@keyframes stock-bars2 {
  from {
    @include getStockHeight(0);
  }
  to {
    @include getStockHeight(90px);
  }
}

@keyframes stock-bars3 {
  from {
    @include getStockHeight(0);
  }
  to {
    @include getStockHeight(70px);
  }
}
@keyframes stock-bars4 {
  from {
    @include getStockHeight(0);
  }
  to {
    @include getStockHeight(110px);
  }
}

.logo-container {
  width: $logo-container-width;
  height: $logo-container-height;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  padding: $logo-container-padding;
  padding-top: $logo-container-padding-top;
}

.logo {
  position: relative;
  width: $logo-container-width;
  height: $logo-container-height;
}

.baseline {
  border: math.div($line-thickness, 2) solid $logo-color;
  border-radius: $line-thickness;
  box-sizing: border-box;
  animation: baseline 2s ease-in-out forwards;
}

.stock-bars {
  height: $stock-bar-contaier-height;
  // padding-left: 10px;
  &::after {
    display: block;
    clear: both;
  }
  .bar {
    float: left;
    background: $logo-color;
    width: $line-thickness;
    border-radius: $line-thickness;
    margin-right: 20px;
    position: relative;
    margin-left: 20px;
    bottom: -2px;
  }

  .bar1 {
    animation: stock-bars1 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
  }

  .bar2 {
    animation: stock-bars2 0.5s ease-in-out forwards;
    animation-delay: 0.7s;
  }

  .bar3 {
    animation: stock-bars3 0.5s ease-in-out forwards;
    animation-delay: 1.2s;
  }

  .bar4 {
    animation: stock-bars4 0.5s ease-in-out forwards;
    animation-delay: 1.7s;
  }
}

.arrow-path {
  height: 80px;
  bottom: -30px;
  position: relative;
}

@keyframes firstAscend {
  0% {
    width: 0;
  }
  13% {
    width: 68px;
  }
  100% {
    width: 68px;
  }
}

@keyframes secondAscend {
  13% {
    width: 0;
  }
  27% {
    width: 60px;
  }
  100% {
    width: 60px;
  }
}

@keyframes thirdAscend {
  27% {
    width: 0;
  }
  47% {
    width: 85px;
  }
  100% {
    width: 85px;
  }
}

.ascend {
  background: $logo-color;
  height: $line-thickness;
  border-radius: $line-thickness;
  position: absolute;
  transform-origin: left;

  &.first {
    left: 21px;
    top: 78px;
    transform: rotate(-45deg);

    animation: firstAscend 6s linear infinite;
    animation-delay: 0.7s;
  }
  &.second {
    left: 65px;
    top: 31px;
    transform: rotate(25deg);

    animation: secondAscend 6s linear infinite;
    // animation-delay: 1.2s;
    animation-delay: 0.7s;
  }
  &.third {
    left: 115px;
    top: 57px;
    transform: rotate(-42deg);

    animation: thirdAscend 6s linear infinite;
    // animation-delay: 1.7s;
    animation-delay: 0.7s;
  }
}

@keyframes arrowHead {
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
    transform: translate(15px, -15px) rotate(45deg);
  }
  48% {
    opacity: 1;
    transform: translate(50px, -47px) rotate(45deg) scale(1.5);
  }
  100% {
    opacity: 1;
    transform: translate(50px, -47px) rotate(45deg) scale(1.5);
  }
}

.arrow-head {
  @include traingle-up();
  position: absolute;
  left: 115px;
  top: 48px;
  transform: rotate(45deg);
  animation: arrowHead 6s linear infinite;
  animation-delay: 0.7s;
  opacity: 0;
}

@keyframes bull {
  from {
    background-position-x: -150px;
  }
  to {
    background-position-x: 20px;
  }
}

.bull-wrapper {
  overflow: hidden;
  height: 150px;
  width: 167px;
  background-image: url(./bull-icon.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 170px;
  top: 38px;
  background-size: 145px auto;
  background-position: -150px 13px;
  animation: bull 6s ease-in-out infinite;
  animation-delay: 2s;
}
